*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
form{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 400px;
}
h1{
    text-align: center;
    color: blue;
    margin: 5rem 0;
}
input{
    margin-bottom: 2rem;
    padding: 1rem;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
input[type='submit']{
    color: white;
    background-color: blue;
    border-radius: 1rem;
    border: none;
    font-size: 1.3rem;
    transition: background-color 0.5s ease-in;
}

input[type='submit']:hover{
    transition: background-color 0.5s ease-out;
    background-color: rgb(2, 2, 149);
}
